{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<div class="panier-container">
    <h1>Votre Panier</h1>
    
    {% if items|length > 0 %}
        <table class="panier-table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>
                            <img src="{{ asset('imgs/' ~ item.produit.image) }}" alt="{{ item.produit.nomProduit }}">
                        </td>
                        <td>{{ item.produit.nomProduit }} {{item.produit.contenance}} {{item.produit.domaine}}</td>
                        <td>{{ item.produit.prix | number_format(2, ',', ' ') }} €</td>
                        <td class="quantite-cellule">
                            <a href="{{path('remove_panier', {'id': item.produit.id})}}">
                                <button class="btn-qt">-</button>
                            </a>
                            {{ item.quantite }}
                            <a href="{{path('add_panier', {'id': item.produit.id})}}">
                                <button class="btn-qt">+</button>
                            </a>
                        </td>
                        <td>{{ (item.produit.prix * item.quantite) | number_format(2, ',', ' ') }} €</td>
                        <td>
                            <a href="{{path('delete_panier', {'id': item.produit.id})}}">
                                <button class="btn-supprimer">Supprimer</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="total-texte">Total :</td>
                    <td>{{total | number_format(2, ',', ' ')}}  €</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

        <div class="actions">
            <a href="{{ path('app_commande_preparation') }}">
                <button class="btn-commander">Commander</button>
            </a>
            <a href="{{ path('app_produit') }}">
                <button class="btn-retour">Continuer vos achats</button>
            </a>
        </div>
    {% else %}
        <div class="panier-vide">
            Votre panier est vide.
        </div>
    {% endif %}
</div>
{% endblock %}