{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<div  >
    <h1  >Votre Panier</h1>
    
    {% if items|length > 0 %}
        <table  >
            <thead  >
                <tr>
                    <th>Image</th>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td style="width: 100px;">
                            <img src="{{ asset('imgs/' ~ item.produit.image) }}" alt="{{ item.produit.nomProduit }}" class="img-fluid rounded" style="max-height: 80px;">
                        </td>
                        <td>{{ item.produit.nomProduit }} {{item.produit.contenance}} {{item.produit.domaine}}</td>
                        <td>{{ item.produit.prix | number_format(2, ',', ' ') }} €</td>
                        <td>
                            <a href="{{path('remove_panier', {'id': item.produit.id})}}"><input type="button" value="-"></a>
                            {{ item.quantite }}
                            <a href="{{path('add_panier', {'id': item.produit.id})}}"><input type="button" value="+"></a>
                        </td>
                        <td>{{ (item.produit.prix * item.quantite) | number_format(2, ',', ' ') }} €</td>
                        
                        <td>
                            <a href="{{path('delete_panier', {'id': item.produit.id})}}" class="btn btn-danger btn-sm">
                                <i class="bi bi-trash">Supprimer</i> 
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4"  class="text-right">Total :</td>
                    <td>{{total | number_format(2, ',', ' ')}}  €</td>
                    <td></td>
                   
                </tr>
            </tfoot>
        </table>
         

        <div class="text-right mt-3">
            <a href="{{path('app_panier_checkout')}}" class="btn btn-primary">Passer à la caisse</a>
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            Votre panier est vide.
        </div>
    {% endif %}
</div>
{% endblock %}
