{% extends 'base.html.twig' %}


{% block title %}Détails du vin{% endblock %}


{% block body %}
  <h1>Détails du vin : {{ produit.nomProduit }}</h1>

  <div class="container">
    <!-- Section principale du produit -->
    <div class="product-grid">
      <!-- Image du produit -->
      <div class="product-image">
        <img src="{{ asset('imgs/' ~ produit.image) }}" alt="{{ produit.nomProduit }}" class="produit-image">
      </div>

      <!-- Détails du produit -->
      <div class="product-details">
        <h2>{{ produit.nomProduit }}</h2>
        <p><strong>Nom du domaine :</strong> {{ domaine.nomDomaine }}</p>
        <p><strong>Région :</strong> {{ region.nomRegion }}</p>
        <p><strong>Contenance :</strong> {{ produit.contenance }} cl</p>
        <h3 class="prix">{{ produit.prix }} €</h3>
        
      </div>
      
      <!--<button class="card-btn">Ajouter au Panier</button>-->
      <button class="btn-ajouter-panier" data-produit-id="{{ produit.id }}">Ajouter au panier</button>

    </a>
    </div>

    <!-- Détails du domaine -->
    <div class="domain-details">
      <h4>Détails du domaine</h4>
      <p>{{ domaine.detail }}</p>
    </div>

    <!-- Informations supplémentaires -->
    <div class="additional-info">
      <h4>Informations supplémentaires</h4>
      <p>Parlez davantage du produit, de son origine, ou de son histoire...</p>
    </div>
  </div>
{% endblock %}