
{% extends 'base.html.twig' %}

{% block title %}Filtrer les Produits{% endblock %}

{% block body %}
  <!-- <h1>Filtrer les Produits</h1>
		{{ form_start(form) }}
{{ form_row(form.region) }}
{{ form_row(form.domaine) }}
{{ form_row(form.prixMin) }}
{{ form_row(form.prixMax) }}
<button type="submit">Rechercher</button>
{{ form_end(form) }}

<ul>
{% for produit in produits %}
		<li>{{ produit.nom }} - {{ produit.prix }}€ (Domaine: {{ produit.domaine.nom }}, Région: {{ produit.domaine.region.nom }})</li>
{% else %}
		<li>Aucun produit trouvé.</li>
{% endfor %}
</ul>--> 
    
{% endblock %}


