{% extends 'base.html.twig' %}

{% block title %} la page produit{% endblock %}

{% block body %}
 

<h1>Tous les vin du domaine :</h1>
  
<div class="container mt-5">
  <div class="row">
    {% for produit in produitsPagines %}
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="{{ asset('imgs/' ~ produit.image) }}" alt="{{ produit.nomProduit }}">
          <div class="card-body">
             <h2 class="card-title">{{produit.nomProduit}}  </h2>
            <p class="card-text"><h5>{{ produit.prix }} €</h5></p>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus praesentium enim facere maiores voluptatum eius deleniti quidem consectetur cupiditate accusamus, 
              consequatur asperiores eligendi earum quibusdam dolorem illo officiis sunt obcaecati?
            </p>
             
            <a href="{{ path('add_panier',{'id':produit.id})}}"><button class="btn btn-success mt-2" >Ajouter au Panier</button></a>
            <p><a href="{{path('detail_produit',{'id': produit.id})}}">+ de details</a></p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="navigation">
  {{ knp_pagination_render(produitsPagines) }}
</div>
 
 

 

{% endblock %}