{% extends 'base.html.twig' %}

{% block title %} la page produit{% endblock %}

{% block body %}
 
<h1>Tous les vins de la Cave  :</h1>
<p> vous chercher un vin en particulier , vous pouvez filtrer vos recherche </p>



<div class="product-container">
  {% for produit in produitsPagines %}
    <div class="product-card">
      {% if produit.image %}
        <img src="{{ asset('imgs/' ~ produit.image) }}" alt="{{ produit.nomProduit }}" class="produit-image">
      {% else %}
        <div class="produit-image-placeholder">Pas d'image</div>
      {% endif %}
      <h2>{{ produit.nomProduit }}</h2>
      <p class="product-detail">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
      <p class="product-prix">{{ produit.prix }} €</p>
      <a href="{{ path('add_panier', {'id': produit.id}) }}">
       <!-- <button class="product-btn">Ajouter au Panier</button>-->
        <button class="btn-ajouter-panier" data-produit-id="{{ produit.id }}"> Ajouter au Panier</button>
      </a>
      <p><a href="{{ path('detail_produit', {'id': produit.id}) }}">+ de détails</a></p>
    </div>
  {% endfor %}
</div>

<div class="navigation">
  {{ knp_pagination_render(produitsPagines) }}
</div>
 
 
 
 

{% endblock %}