{% extends 'base.html.twig' %}

{% block title %} la page produit{% endblock %}

{% block body %}
 

<h1>Tous les vin du domaine :</h1>
  
<div class="produit-container ">
  <div class="produit-card ">
    {% for produit in produitsPagines %}
      <div class="produit-info ">
        <div class="card">
          <img src="{{ asset('imgs/' ~ produit.image) }}" alt="{{ produit.nomProduit }}">
          <div class="card-body">
             <h2 class="card-title">{{produit.nomProduit}}  </h2>
            
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.   
            </p>
             <h3 class="card-prix">{{ produit.prix }} €</h3>
            <a href="{{ path('add_panier',{'id':produit.id})}}"><button class="card-btn" >Ajouter au Panier</button></a>
            <p><a href="{{path('detail_produit',{'id': produit.id})}}">+ de details</a></p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="navigation">
  {{ knp_pagination_render(produitsPagines) }}
</div>
 
 
 
 

{% endblock %}