{% extends 'base.html.twig' %}

{% block title %}Détail de votre commande{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mb-4">🛒 Détail de votre commande</h1>
    <div>
        
    {% if items is not empty %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Prix Unitaire</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% set totalCommande = 0 %}
                {% for item in items %}
                    {% set totalProduit = item.produit.prix * item.quantite %}
                    {% set totalCommande = totalCommande + totalProduit %}
                    <tr>
                        <td>{{ item.produit.nomProduit }}</td>
                        <td>{{ item.quantite }}</td>
                        <td>{{ item.produit.prix | number_format(2, ',', ' ') }} €</td>
                        <td>{{ totalProduit | number_format(2, ',', ' ') }} €</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="3" class="text-end">Total :</th>
                    <th>{{ totalCommande | number_format(2, ',', ' ') }} €</th>
                </tr>
            </tfoot>
        </table>
        


        <div class="d-flex justify-content-between mt-4">
            <a href="{{ path('app_produit') }}" class="btn btn-secondary">🛍️ Continuer vos achats</a>
            <a href="{{ path('app_commande') }}" class="btn btn-primary">✅ Valider la commande</a>
        </div>
    {% else %}
        <p class="alert alert-warning">Votre panier est vide.</p>
        <a href="{{ path('app_produit') }}" class="btn btn-success">🛍️ Retour aux produits</a>
    {% endif %}
</div>
<div>
    <h3>Choisissez votre moyen de paiement :</h3>
<input type="radio" name="payment" value="credit_card" id="credit_card">
<label for="credit_card"><strong>Carte bancaire</strong></label>

<input type="radio" name="payment" value="paypal" id="paypal">
<label for="paypal">  <strong>PayPal</strong></label>

<input type="radio" name="payment" value="on_delivery" id="on_delivery">
<label for="on_delivery"><strong>Paiement à la livraison</strong>  </label>
</div>
{% endblock %}
