{{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }} 
    <div>
        {% if produit is defined and produit.image is not empty %}
            <img src="{{ asset('imgs/' ~ produit.image) }}" alt="{{ produit.nomProduit }}">
        {% endif %}
    </div>

    <div class="mb-3">
        {{ form_label(form.nomProduit) }}
        {{ form_widget(form.nomProduit, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.contenance )}}
        {{ form_widget(form.contenance, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.prix) }}
        {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.detailProduit) }}
        {{ form_widget(form.detailProduit, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.exclusif) }}
        {{ form_widget(form.exclusif, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.image) }}
        {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
    </div>

    <button type="submit" class="btn btn-success">Ajouter</button>
{{ form_end(form) }}

