{% extends 'base.html.twig' %}

{% block title %}Recherche de produits{% endblock %}

{% block body %}
    <h1>Rechercher un produit</h1>

    {# Afficher le formulaire de recherche #}
   
        
    {{ form(form) }}
   
   
    {# Affichage des résultats #}
   
    {% if produitsPagines is not empty %}
        <h2>Résultats pour "{{ query }}"</h2>
        <ul>
            {% for produit in produitsPagines %}
                <li>
                    <h3>{{ produit.nomProduit }}</h3>
                    <p>{{ produit.detailProduit }}</p>
                    <p>Prix : {{ produit.prix }}€</p>
                </li>
            {% endfor %}
        </ul>
        <div class="navigation">
            {{ knp_pagination_render(produitsPagines) }}
          </div>
      
    {% elseif query %}
        <p>Aucun résultat trouvé pour "{{ query }}".</p>
    {% endif %}
   
    
{% endblock %}
 
 
  