<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}unamourdevin{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
         
        <link href="https://cdn.lineicons.com/5.0/lineicons.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
         
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.css" /> 
       <link rel="stylesheet" href="{{asset('css/style.css')}}">
       <link rel="stylesheet" href="{{asset('css/panier.css')}}">
       
        {% endblock %}
    </head>

    <body>

        <!-- Offcanvas Sidebar -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasSidebarLabel" style="color: black;" >Filtrez vos vins</h5><!--noublie pas d'enlever le style ici-->
                    <button type="button" class="btn-close text-reset" data-mdb-dismiss="offcanvas" aria-label="Close" ></button>
                </div>
                <div class="offcanvas-body">
                    <!-- Sidebar navigation -->
                    <ul class="sidebar-nav p-0">
                        <!-- Section des filtres -->
                        
                        <li class="sidebar-item">
                            <!--filtre par region-->
                            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" 
                            data-bs-target="#regions" aria-expanded="false" aria-controls="regions">
                                <i class="lni lni-map-marker"></i>
                                <span>Par Region</span>
                            </a>
                            <ul id="regions" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#offcanvasSidebar">
                                {% for region in regions %}
                                <li class="sidebar-item">
                                    <a href="{{ path('produits_par_region', { 'id': region.id }) }}" class="sidebar-link">
                                        {{ region.nomRegion }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            
                        </li>
                        
                        <li class="sidebar-item">
                            <!--filtre par domaine-->
                            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" 
                            data-bs-target="#domaines" aria-expanded="false" aria-controls="domaines">
                                <i class="lni lni-map-marker"></i>
                                <span>Par Domaine</span>
                            </a>
                            <ul id="domaines" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#offcanvasSidebar">
                                {% for domaine in domaines %}
                                <li class="sidebar-item">
                                    <a href="{{ path('produit_par_domaine', { 'domaineId': domaine.id }) }}" class="sidebar-link">
                                        {{ domaine.nomDomaine }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li> 
                       <!-- <li>
                          
                            <div id="prix-slider"></div>
                            <p style="color: black;">Prix : <span id="prix-min"></span>€ - <span id="prix-max"></span>€</p>
                        </li>-->
                      
                        
                           <!-- Bouton Accord Mets et Vins--> 
                        <li class="nav-item">
                            <button id="accordMetsVinsBtn" class="btn btn-primary">
                                Accords Mets et Vins
                            </button>
                        </li>
                    </ul>
                    <!--Liste déroulante cachée -->
                    <div id="accordsMetsVinsList" class="d-none">
                        <select id="platSelect" class="form-control">
                            Les options de plats seront ajoutées ici par JavaScript  
                        </select>
                    </div>
                    </ul>
                </div>
        </div>

        <nav class="navbar navbar-expand-lg bg-dark text-white py-5">
            <ul class="nav">
                <div class="d-flex">
                    <!--sidebar-->
                        <aside id="sidebar">
                            <div class="sidebar-log">
                                <!-- Bouton pour ouvrir l'offcanvas -->
                                <button data-mdb-button-init data-mdb-toggle="offcanvas" data-mdb-target="#offcanvasSidebar"
                                    data-mdb-ripple-init class="btn btn-primary" aria-controls="offcanvasSidebar" aria-haspopup="true">
                                    <i class="fas fa-bars">Menu</i>
                                </button>
                            </div>
                        </aside>
                        <!--sidebar ends-->
                    </div>
                   
                    <div id="test-slider"></div>
                <!--<li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> Contact</a>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_produit') }}">Nos boteilles</a>
                    <li>
                        <a class="nav-link" href="{{ path('app_exclusif') }}">vente Exclusives</a>
                    </li>
                  
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="#">Qui Sommes-nous</a>
                </li>-->
                <li>
                    <a class="nav-link" href="#">Accueil</a>
                </li>
                <li>
                    <a href="{{path('product_search')}}">Rechercher</a>
                    
                </li>
                <li>
                    {{ form(formSearch) }}
                </li>
               
               
                <li class="nav-link">
                    {# <img src="imgs/logo.png" alt="logo"> #}
                </li>

            <ul class="nav ml-auto">
                {% if app.user %}
                    <li><a class="nav-link" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i></a></li>
                    <li><a class="nav-link" href="#">Profil</a></li>
                {% else %}
                    <li><a class="nav-link" href="{{ path('app_login') }}"><i class="fas fa-user"></i></a></li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('app_admin_produits') }}">Gestion des produits</a></li>
                {% endif %}
                <li><a class="nav-link" href="{{ path('app_panier') }}"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>

        {% block body %}
        {% endblock %}
        <footer class="footer bg-dark text-white py-4">
            <div class="container text-center">
                <ul class="list-unstyled d-flex flex-wrap justify-content-center gap-3 mb-0">
                    <li>Qui sommes-nous</li>
                    <li>Politique de confidentialité</li>
                    <li>Mentions légales</li>
                    <li>Suivez notre actualité</li>
                     
                    <li>
                        <a href="https://www.facebook.com/unamourdevin/" target="_blank" class="text-white">
                            <i class="fab fa-facebook fa-lg"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://instagrame.com/amourdevin_caviste" target="_blank" class="text-white">
                            <i class="fab fa-instagram fa-lg"></i>
                        </a>
                    </li>
                    <li>Nous contacter</li>
                </ul>
                 
            </div>
        </footer>
        
        
        
         
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> 
         
          <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>  
         <script src="{{ asset('js/script.js') }}" defer></script>

    </body>
</html>
