<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facture {{ facture.numeroFacture }}</title>
</head>
<body>
    <h1>Facture : {{ facture.numeroFacture }}</h1>
    <p>Date : {{ facture.dateFacture|date('d/m/Y') }}</p>
    <p>Montant HT : {{ facture.montantHT }} €</p>
    <p>TVA : {{ facture.tva }} €</p>
    <p>Total TTC : {{ facture.totalFacture }} €</p>
</body>
</html>
