 

{% block title %}Hello FactureController!{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="fr">
    <link rel="stylesheet" href="facture.css">
<head>
    <meta charset="UTF-8">
    <title>Facture</title>
    <style>
        body { font-family: Arial, sans-serif; font-size: 14px; }
        .container { width: 90%; margin: auto; }
        h1 { text-align: center; }
        table { width: 100%; border-collapse: collapse; margin-top: 20px; }
        th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
        th { background-color: #f2f2f2; }
        .total { text-align: right; font-weight: bold; }
    </style>
</head>
<div class="logo">
    <img src="#" alt="logo_unamourdevin">
</div>
<div class="detai-entreprise">
    <h3>Un Amour de vin</h3>
    <ul>
        <li>114 route du Polygone  </li>
        <li>Strasbourg</li>
        <li>67100</li>
        <li>Siret /12255899 n° TVA</li>
        <li>03 67 99 39 41 </li>
        <li>unamourdevin@strasbourg.com</li>
    </ul>
</div>

<body>
   
    <div class="detail-client">
        <h3>Nom client</h3>
        <ul>
            <li>Nom et Prenom : {{commande.user.nom}} ~ {{commande.user.prenom}}</li>
            <li>Adresse: {{commande.user.adresse}}</li>
            <li>@-mail : {{ commande.user.email }}</li>
        </ul>
    </div>
    <div class="container">
        <h1>Facture N°{{ commande.id }}</h1>
        <p>Date : {{ commande.dateCommande|date('d/m/Y') }}</p>
        

        <table>
            <tr>
                <th>Produit</th>
                <th>Quantité</th>
                <th>Prix Unitaire</th>
                <th>Total</th>
            </tr>
            {% for produitCommande in produitComandes %}
                <tr>
                    <td>{{ produitCommande.produit.nomProduit }}</td>
                    <td>{{ produitCommande.quantite }}</td>
                    <td>{{ produitCommande.produit.prix }} €</td>
                    <td>{{ produitCommande.quantite * produitCommande.produit.prix }} €</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3" class="total">Total à payer :</td>
                <td class="total">{{ commande.total }} €</td>
            </tr>
        </table>
    </div>
    <footer>
       <div class="footer detail-entreprise">
        <ul>
            <li>Unamourdevin</li>
            <li> 114 route du Polygone, Strasbourg, France </li>
            <li>03 67 99 39 41 </li>
            <li>unamourdevin@strasbourg.com</li>
        </ul>


       </div>
    </footer>
</body>
</html>

{% endblock %}
