<style>

    
</style>

{% block title %} {% endblock %}

{% block body %}
<div class="logo">
    <img src="#" alt="logo_unamourdevin">
</div>
<div class="detai-entreprise">
    <p>Un Amour de vin</p>
    <ul>
        <p>114 route du Polygone  </p>
        <p>Strasbourg</p>
        <p>67100</p>
        <p>Siret /12255899 n° TVA</p>
        <p>03 67 99 39 41 </p>
        <p>unamourdevin@strasbourg.com</p>
    </ul>
</div>

<body>
   
    <div class="detail-client">
        <h3>Nom client</h3>
        <ul>
            <li>Nom et Prenom : {{commande.user.nom}} ~ {{commande.user.prenom}}</li>
            <li>Adresse: {{commande.user.adresse}}</li>
            <li>@-mail : {{ commande.user.email }}</li>
        </ul>
    </div>
    <div class="container">
        <h1>Facture N°{{ commande.id }}</h1>
        <p>Date : {{ commande.dateCommande|date('d/m/Y') }}</p>
        

        <table>
            <tr>
                <th>Produit</th>
                <th>Quantité</th>
                <th>Prix Unitaire</th>
                <th>Total</th>
            </tr>
            {% for produitCommande in produitComandes %}
                <tr>
                    <td>{{ produitCommande.produit.nomProduit }}</td>
                    <td>{{ produitCommande.quantite }}</td>
                    <td>{{ produitCommande.produit.prix }} €</td>
                    <td>{{ produitCommande.quantite * produitCommande.produit.prix }} €</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3" class="total">Total à payer :</td>
                <td class="total">{{ commande.total }} €</td>
            </tr>
        </table>
    </div>
    <footer>
       <div class="footer detail-entreprise">
        <ul>
            <li>Unamourdevin</li>
            <li> 114 route du Polygone, Strasbourg, France </li>
            <li>03 67 99 39 41 </li>
            <li>unamourdevin@strasbourg.com</li>
        </ul>


       </div>
    </footer>
</body>
</html>

{% endblock %}
